/*.main{
    margin: auto;
    height: auto;
    width: 50%;
}*/
.nav {
    display: flex;
    justify-content: space-around;
    background-color: aqua;
    padding: 10px;
    border-radius: 8px;
}
.nav a{
    text-decoration: none;
}
.but{
    margin-top: 50px;
}
.but{
    height: auto;
    width: fit-content;
    margin: auto;
    text-align: center;
    border-radius: 10px;
    padding: 10px;
    background-color: rgb(116, 182, 42);
}
/* button.php*/
.field{
    margin-top: 50px;
}
.field{
    height: auto;
    width: fit-content;
    margin: auto;
    text-align: center;
    border-radius: 10px;
    background-color: rgb(107, 212, 168);
    border-color: rgb(0, 255, 21);
    color: rgb(6, 117, 80);
}
.input{
    border-radius: 5px;    
    background-color: rgb(0, 255, 170);
    border-color: rgb(0, 255, 21);
    color: rgb(13, 145, 101);
}
select{
    border-radius: 5px;    
    background-color: rgb(0, 255, 170);
    border-color: rgb(0, 255, 21);
    color: rgb(13, 145, 101);
}
table{
    margin: auto;
    text-align: center;
    border-radius: 10px;
    border: solid 3px greenyellow;
    background-color: rgb(33, 95, 33);
    color: rgb(69, 218, 136);
}
th,td{
    border: solid 1px greenyellow;
}